@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ドロップダウンメニューがホバーしているときも表示されたままにする */
/* .dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
} */

.fc--button {
    background-color: transparent !important;
    border: none !important;
}
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 5px;
  }
  .fc .fc-toolbar-title {
    font-size: 1rem;
    
  }
  .fc .fc-button-primary {
    font-size: 0.85rem;
    background-color: transparent !important;
    border: none !important;
    color: #37362f !important;
  }
  .fc .fc-today-button {
    color: #37362f;
  }
  /* 
  .fc .fc-button-primary:not(:disabled):active,
  .fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #ffffff00;
    color: #acaba9;
    box-shadow: none;
  }
  .fc .fc-button-primary:not(:disabled):focus,
  .fc .fc-button-primary:not(:disabled).fc-button-focus {
    background-color: #ffffff00;
    color: #acaba9;
    box-shadow: none;
  }
  .fc .fc-today-button:disabled {
    opacity: 1;
  } */

  @media (max-width: 600px) { /* 600px以下の画面サイズに適用 */
    .fc .fc-button {
        padding: 0.1em 0.2em; /* paddingを狭める */
        font-size: 0.7em; /* フォントサイズを小さくする */
        font-weight: 200; /* フォントウェイトを小さくする */
    }
    .fc table {
      font-size: 0.7em;
    }
}
